@import "./variables";
@import "./reusables";

.sidebarContainer, .miniSidebarContainer {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    padding: 3rem 0.5rem 6rem 1rem;
    box-shadow: 0.25rem 0rem 0.3125rem 0rem rgba(0, 0, 0, 0.05);
    // border: .0625rem solid #000;
    position: relative;

    .controller {
        width: 1.5rem;
        height: 1.5rem;
        background-color: rgba($color: $primary-color, $alpha: 0.1);
        display: grid;
        place-items: center;
        border-radius: 0.3125rem 0rem 0rem 0.3125rem;
        position: absolute;
        right: 0;
        top: 0.5rem;
        cursor: pointer;
        &:hover {
            background-color: $primary-color;
            svg path {
                fill: $white;
            }
        }
        svg {
            width: 0.75rem;
            height: 0.75rem;
        }
    }

    .sidebarItemContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .sidebarItem {
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        padding: 0.8rem 1rem;
        gap: 1rem;
        cursor: pointer;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0.35rem;
            top: 50%;
            height: 55%;
            width: 0.2rem;
            transform: translateY(-50%);
            border-radius: 0.5rem;
            background-color: transparent;
        }
        span {
            display: inline-flex;
            svg {
                width: 1.25rem;
                height: 1.25rem;
            }
        }
        p {
            font-size: $font-size-16 - 0.125rem;
        }
        &:hover {
            background-color: rgba($color: $primary-color, $alpha: 0.1);
            &::before {
                background-color: rgba($color: $white, $alpha: 1);
            }
        }
    }
    .sidebarItemActive {
        background-color: rgba($color: $primary-color, $alpha: 0.1);
        color: $primary-color;
        pointer-events: none;
        &::before {
            background-color: $primary-color;
        }
        svg {
            path {
                fill: $primary-color;
            }
        }
    }
}

.miniSidebarContainer {
    width: 6%;
    .sidebarItem {
        p {
            // display: none;
            opacity: 0;
            transform: translate(-280%);
            white-space: nowrap;
            // text-align: right;
        }
    }
}